<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vsw.mapper.VediouserMapper">
  <resultMap id="BaseResultMap" type="com.vsw.domain.Vediouser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="USERID" jdbcType="INTEGER" property="userid" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="USERPHOTO" jdbcType="VARCHAR" property="userphoto" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
  </resultMap>
</mapper>